<div class="index-page">
	<div class="password">
		<img src="public/images/logo1.png" />
        <form class="form-password" name="passwordForm">
            <div class="group">
                <div class="title">手机号</div>
                <input type="text" name="telephone" ng-model="passwordData.telephone" required ng-pattern="/^1\d{10}$/" ng-blur="checkTelephone()" />
				<div class="btn button" ng-disabled="passwordForm.telephone.$invalid || captchaStatus" ng-click="getCaptcha()">{{captchaButton}}</div>
            </div>
            <div class="group">
                <div class="title">验证码</div>
                <input type="text" name='captcha' ng-model="passwordData.captcha" required ng-pattern="/^\d{4}$/"/>
            </div>
			<div class="group">
                <div class="title">设置密码</div>
                <input type="password" name="password" ng-model="passwordData.password" required ng-pattern="/^[a-zA-Z0-9]{6,}$/"/>
            </div>
			<div class="group">
                <div class="title">重新输入密码</div>
                <input type="password" name="repassword" ng-model="passwordData.repassword"  required ng-pattern="/^[a-zA-Z0-9]{6,}$/"/>
            </div>
        </form>
        <div class="btn button button-password" ng-click="password()" ng-disabled="passwordForm.telephone.$error.required || passwordForm.captcha.$error.required || passwordForm.password.$error.required || passwordForm.repassword.$error.required" ng-bind-html="passwordButton"></div>
	</div>
</div>
