.fill-page .header {
	width: 100%;
	height: 70px;
	background-color: #4a3c3c;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
}
.fill-page .header img {
	margin-top: 22px;
	float: left;
}
.fill-page .header .title {
	float: left;
	margin-left: 10px;
	height: 70px;
	line-height: 70px;
	font-size: 22px;
	color: #ff9713;
}
.fill-page .body {
	width: 1000px;
	margin: auto;
}
.fill-page .rootwizard {
	width: 100%;
	height: 66px;
}
.fill-page .wizard {
	float: left;
	width: 333px;
	height: 66px;
}
.fill-page .wizard .content {
	height: 66px;
	padding-top: 30px;
	line-height: 25px;
	font-size: 18px;
	color: #9a9a9a;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
	border-bottom: 4px solid #e5e5e5;
}
.fill-page .wizard .content .step-no {
	width: 20px;
	margin-right: 2px;
	line-height: 20px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	border-radius: 50%;
	background-color: #9a9a9a;
}
.fill-page .active .content {
	color: #ff8f00;
	border-color: #ff9713;
}
.fill-page .active .content .step-no {
	background-color: #ff9713;
}
.fill-page form {
	margin-top: 60px;
}
.fill-page .group {
	height: 36px;
	margin-top: 30px;
}
.fill-page .group .title {
	float: left;
	width: 334px;
	text-align: right;
	color: #333333;
	line-height: 36px;
	font-size: 14px;
}
.fill-page .group input {
	float: left;
	margin-left: 20px;
	padding-left: 10px;
	width: 320px;
	height: 36px;
	border: 1px solid #cccccc;
}
.fill-page .group .button {
	float: left;
	width: 110px;
	height: 36px;
	line-height: 36px;
	margin-left: 10px;
	padding: 0;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	background-color: #ff9713;
	border-radius: 4px;
}
.fill-page .group .button[disabled] {
	background-color: #cccccc;
}
.fill-page .group .register-alert {
	float: left;
	margin-left: 20px;
	height: 36px;
	line-height: 36px;
}
.fill-page .group .register-alert .alert-symbol {
	float: left;
	margin-top: 11px;
}
.fill-page .group .register-alert .alert-content {
	float: left;
	margin-left: 4px;
	font-size: 12px;
	color: #dd0202;
}
.fill-page .group .active {
	background-color: #ff9713;
}
.fill-page .agreement {
	margin-top: 28px;
	height: 20px;
	line-height: 20px;
}
.fill-page .agreement .checkbox-normal {
	float: left;
	margin-left: 366px;
	margin-top: 3px;
}
.fill-page .agreement .agreement-content {
	float: left;
	margin-left: 10px;
}
.fill-page .button-register, .fill-page .button-submission {
	width: 320px;
	height: 52px;
	line-height: 52px;
	margin-left: 354px;
	margin-top: 22px;
	padding: 0;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	border-radius: 4px;
	background-color: #ff9713;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
}
.fill-page .button-audit .loading-outer {
	margin-top: 9px;
	margin-left: 144px;
}
.fill-page .button-submission {
	margin-bottom: 22px;
}
.fill-page .button-register[disabled], .fill-page .button-submission[disabled] {
	background-color: #cccccc;
}
.fill-page .bottom-line {
	float: right;
	color: #333333;
	margin-right: 326px;
	margin-top: 10px;
	font-size: 14px;
}
.fill-page .bottom-line:hover {
	color: #428bca;
}
.fill-page .group .datepicker {
	width: 140px;
}
.fill-page .group .icon-calendar {
	position: relative;;
	float: left;
	top: 1px;
	right: 28px;
	line-height: 34px;
	font-size: 20px;
	color: #d1d1d1;
}
.fill-page .group .contact {
	float: left;
	width: 40px;
	margin-left: -20px;
	line-height: 36px;
	text-align: center;
}
.fill-page .audit {
	text-align: center;
	color: #333333;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
}
.fill-page .audit .title{
	margin-top: 106px;
	margin-bottom: 20px;
	height: 42px;
	line-height: 42px;
	font-size: 30px;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
}
.fill-page .audit .iconfont {
	font-size: 30px;
	margin-right: 12px;
}
.fill-page .audit .desc{
	width: 540px;
	margin: 0;
	line-height: 34px;
	font-size: 18px;
}
.fill-page .audit .button {
	width: 320px;
	height: 52px;
	line-height: 52px;
	margin-top: 20px;
	padding: 0;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	border-radius: 4px;
	background-color: #ff9713;
}
.fill-page .group-image {
	height: auto;
}
.fill-page .group-image .title {
	height: 14px;
	line-height: 14px;
}
.fill-page .image-select {
	float: left;
	margin-left: 20px;
	cursor: pointer;
}
.fill-page .image-select .image-plus {
	width: 120px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	color: #d8d8d8;
	border: 1px solid #cccccc;
}
.fill-page .image-select .iconfont {
	font-size: 70px;
}
.fill-page .image-select .image-content {
	height: 17px;
	margin-top: 12px;
	line-height: 17px;
	font-size: 12px;
	color: #666666;
}
.fill-page .group-image .image-selected {
	float: left;
	position: relative;
}
.fill-page .group-image .select-image {
	width: 120px;
}
.fill-page .group-image .select-button {
	position: absolute;
	bottom: 0;
	left: 140px;
	border: 1px solid #ff9713;
	border-radius: 4px;
	width: 96px;
	height: 30px;
	line-height: 28px;
	color: #ff9713;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
